@page
@model MonCatalogue.Pages.Produits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Détails du Produit</h1>

<div class="card">
    <div class="card-body text-center">
        
        <h4 class="card-title">Produit</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Produit.ProduitNom)</strong>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Produit.ProduitNom)
            </dd>
            <dt class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Produit.Prix)</strong>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Produit.Prix)
            </dd>
            <dt class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Produit.Quantite)</strong>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Produit.Quantite)
            </dd>
            <dt class="col-sm-3">
                <strong>Photo</strong>
            </dt>
            <dd class="col-sm-9">
                <img src="/Images/@Model.Produit.Image" alt="Product Image" class="img-fluid mx-auto d-block rounded">
            </dd>
        </dl>
        <div class="text-center d-flex justify-content-center">
            <a asp-page="./Edit" asp-route-id="@Model.Produit?.ProduitId" class="btn btn-primary mx-2">Modifier</a>
            <a asp-page="./Index" class="btn btn-secondary mx-2">Retour à la Liste</a>
            <!--<form method="post" asp-page-handler="AddToCart" asp-route-productId="@Model.Produit?.ProduitId">
                <button type="submit" class="btn btn-success mx-2">Ajouter au panier</button>
            </form>-->
        </div>

    </div>
</div>
