@page
@model MonCatalogue.Pages.Produits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Style de base pour la page */
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        /* Style pour les cartes (cards) */
        .card {
            width: 100%;
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        }

            .card img {
                width: 100%;
                height: 200px; /* Ajustez la hauteur selon vos besoins */
                object-fit: cover; /* Assurez-vous que les images gardent leurs proportions */
            }

        .card-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 16px;
            margin-bottom: 10px;
        }

        /* Style pour les boutons Edit, Delete et Details */
        .btn-details {
            background-color: #007bff;
            color: #fff;
            margin-right: 5px;
            border: none;
        }

        .btn-edit {
            background-color: #28a745;
            color: #fff;
            margin-right: 5px;
            border: none;
        }

        .btn-delete {
            background-color: #dc3545;
            color: #fff;
            border: none;
        }

        .btn-panier {
            background-color: gray;
            color: #fff;
            border: none;
        }
        /* Container for the search bar */
        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }

        /* Input field styling */
        .search-input {
            padding: 10px;
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            outline: none;
        }

        /* Search button styling */
        .search-button {
            padding: 10px 20px;
            background-color: #f90;
            color: white;
            border: 1px solid #f90;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

            /* Search button hover effect */
            .search-button:hover {
                background-color: #ff9900;

            }

    </style>
</head>
<body>
   <div class="container">
        <h1 style="color: orange; font-weight: bold; text-align: center; font-size: 36px;">Bienvenue !</h1>

    <p>
        <a asp-page="Create" class="btn btn-details">Create New</a>
    </p>
    <div class="row justify-content-center">
        <div class="col-md-6">

                <form method="get">

                    <div class="search-container">

                        <input type="text" name="searchString" class="search-input" placeholder="Search...">
                        <button type="submit" class="search-button">Search</button>
                    </div>
                </form>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Produit)
        {
            <div class="col-md-4">
                    <div class="card rounded-lg">
                    <img src="/Images/@item.Image" alt="@item.ProduitNom" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProduitNom</h5>
                        <p class="card-text">Price: @item.Prix</p>
                        <p class="card-text">Category: @item.Categorie.CategorieNom</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a asp-page="./Details" asp-route-id="@item.ProduitId" class="btn btn-details">Details</a>
                            <a asp-page="./Edit" asp-route-id="@item.ProduitId" class="btn btn-edit">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@item.ProduitId" class="btn btn-delete">Delete</a>
                                <form method="post" asp-page-handler="AddToCart" asp-route-productId="@item.ProduitId">
                                    <button type="submit" class="btn btn-panier mx-2">
                                        <i class="fas fa-shopping-cart"></i> 
                                    </button>
                                </form>
                        </div>
                    </div>
                </div>
                   
            </div>
        }
    </div>
</div>

</body>
</html>
